{% extends  'login_page.html' %}
{% load crispy_forms_tags %}
{% block main %}

<form method="post">
    <div class="btns-wrapper">
        <div>
        <h4 >Log in to your account</h4>    
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        </div>
        <div class="btns">
        <button type="submit" class="btn btn-success btn-block grbtn">
            Log in
        </button>
        <a href=".." class="btn btn-danger btn-block redbtn">
            Back to home
        </a>
        </div>
    </div>
</form>
{% endblock %}
