{% extends 'login_page.html' %}
{% load crispy_forms_tags %}
{% block main %}
<form action="" method="post">
    <div class="btns-wrapper">
        <div>
        <h4>Register</h4>
        {% csrf_token %}
        {{ form|crispy }}
        </div>
        <div class="btns">
        <button type="submit" class="btn btn-success btn-block grbtn">
            Register</button>
        <a href=".." class="btn btn-danger btn-block redbtn">
            Back to home</a>
        </div>
    </div>
</form>
{% endblock %}
