{% extends "wrapper.html" %}
{% block content %}
    <div class="row justify-content-center content-wrapper">
        <div >
        <!--    <h1 class="mt-2">Личный кабинет</h1> -->
            {% if user.is_authenticated %}
                <p class="hello">
                    Hello, {{ user.username }}!
                    <a href="/index/logout">Log out</a> |
                    <a href="/index/password-change">
                        Change password
                    </a>
                </p>
            {% else %}
                <p >
                    <a href="/index/login">Log in</a> |
                    <a href="/index/register">Register</a>
                </p>
            {% endif %}
           
                <div class="user_info">
                    {% block main %}
                    {% endblock %}
                </div>
            
        </div>
    </div>

{% endblock %}