.select-box {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;
  flex: 1;
}

.select-box p {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.select-box select {
  font-size: 12px;
}

.content-wrapper {
  padding: 30px;
  background: #e2e2e2;
  top: 43px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

select {
  word-wrap: normal;
  padding: 10px 0px;
  background: #c4c4c4;
}

div#select-box-wrapper {
  display: flex;
  flex-flow: row wrap;
}

* {
  box-sizing: content-box;
}

#head {
  background: #c4c4c4 !important;
  display: flex;
  justify-content: space-between;
  height: 43px;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

#head h5 {
  font-weight: 500 !important;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

.data {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}
.hello {
  padding-left: 20px;
}

nav a {
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 12px;
}

nav {
  display: flex;
  margin-right: 20px;
}

body {
  background-color: white;
}

nav a:hover {
  color: #116466;
  background: #e7e5e5;
}

nav a.selected {
  color: #e7e5e5;
}

.submbutton {
  background: #7b7878;
  border-radius: 5px;
  float: right;
  margin-top: 12px;
  padding: 10px !important;
}

.submbutton:hover {
  background: cadetblue;
  border-radius: 5px;
}

.fl {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

div.fl p {
  line-height: 0px;
}

div.fl select {
  padding: 12px;
}

div.jumbotron p {
  font-size: 12px;
}

.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

h4.card-title {
  width: 100%;
  margin:10px 20px;
  /*background-color: white; */
}

.user_info {
  padding: 0 !important;
  background-color: #e2e2e2;
  display: flex;
  flex-flow: row wrap;
}

.cardheader h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

img.img {
  width: 300px;
  height: auto;
}

.user-info {
  padding: 0 !important;
  background-color: #e2e2e2;
  display: flex;
  flex-flow: row wrap;
}

.user-info {
  padding: 0 !important;
  background-color: #e2e2e2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.user-answers-data-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.user-answer-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.user-answer-wrapper p {
  margin: 5px;
  font-size: 12px;
}

.user-answer-wrapper div {
  background-color: #c4c4c4c4;
  display: flex;
  flex: 1;
  border-left: 2px solid #757474;
  padding: 4px 6px;
  align-items: center;
  font-size: 12px;
}

.user-answer-wrapper:first-child div {
  border-left: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.user-answer-wrapper:last-child div {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.super-card-wrapper {
  display: flex;
}

.super-card-wrapper img {
  width: 25%;
}
.gridcard {
  padding: 20px !important;
  background-color: #c4c4c4;
}

.card-button-wrapper button {
  background: #7b7878;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
  transition: all 0.2s;

  font-weight: 500;
}

.card-button-wrapper button:hover {
  color: black;
  background-color: white;

  transition: all 0.2s;
}

.big_card {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(133, 133, 133); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
  justify-content: space-around;
}

.big_card_item {
  top: 15% !important;
  left: 25% !important;
  border-radius: 15px;
  width: 50%;
  height: auto;
  padding: 30px;
  background: #c4c4c4;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  font-size: 14px;
  overflow: auto; /* Enable scroll if needed */
}

.model-short-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.model-description {
  max-height: 200px;
  overflow-y: auto;
}

.modal-data {
  margin-right: 20px;
}

.modal-header {
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.logo-wrapper {
  display: flex;
  margin-left: 20px;
}

img.info_img
{
  border-radius: 50%;
  height: 300px;
  margin: 20px;
}

.team_list
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  margin-left: -20px;
  padding-left: 0;
  text-align: left;
}

img.info_img.sm
{
  border-radius: 50%;
  height: 40px;
  margin: 5px;
}


.info_vertical
{
  display: flex;
  flex-flow: column;
  margin: 20px;
}

.info_vertical h4
{
  margin-bottom: 20px;
}

.info_vertical h5
{
  margin-bottom: 20px;
}

.info_vertical p
{
  text-indent: 0;
}

div.btns-wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding:0 30px 30px  30px;
  align-content: flex-start;
}

div.btns-wrapper p
{
  margin:0;
  padding: 0;
}

div.btns-wrapper h4
{
  margin: 0 20px 20px 0;
  padding:0;
}

div.btns
{
  display: flex;
  flex-flow: column-reverse;
  width: 60%;
}

div.btns button
{
  margin:10px 0;
}

div.login_wrapper
{
  padding:30px 30px 0 30px;
  margin: 0;
}