@import "fonts";

.select-box {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
    flex: 1;
}

.select-box p {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.content-wrapper {
    padding: 30px;
    background: #E2e2e2;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

select {
    word-wrap: normal;
    padding: 10px 0px;
    background: #C4C4C4
}

div#select-box-wrapper {
    display: flex;
    flex-flow: row wrap;
}

* {
    box-sizing: content-box;
}

#head {
    background: #C4C4C4 !important;
    display: flex;
    justify-content: space-between;
}

#head h5 {
    font-weight: 500 !important;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    margin-left: 20px;
}

nav a {
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 12px;
}

nav {
    display: flex;
    margin-right: 20px;
}

body {
    background-color: white;
}

nav a:hover {
    color: #116466;
    background: #E7E5E5;
}

nav a.selected {
    color: #E7E5E5;
}

.submbutton {
    background: #7B7878;
    border-radius: 5px;
    float: right;
    margin-top: 12px;
    padding: 10px !important;
}

.submbutton:hover {
    background: cadetblue;
    border-radius: 5px;
}

.fl {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

div.fl p {
    line-height: 0px;
}

div.fl select {
    padding: 12px;
}

div.jumbotron p
{
    font-size: 12px;
}

.card-body 
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

h4.card-title
{
    margin: 0 20px;
}

.user_info
{
    padding: 0 !important;
    background-color: #E2E2E2;
    display: flex;
    flex-flow: row wrap;
}

.cardheader h3
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
}

img.img
{
    width: 300px;
    height: auto;
}