{% extends "wrapper.html" %}
{% block content %}
<main role="main">
    <div class="content-wrapper">
        <p>Подберите идеальный тур:</p>

        <form action="/search.php" method="get">
            <div id="select-box-wrapper">
                <div class="select-box">
                    <p>погода</p>
                    <select name="q1">
                        <option disabled>Какая погода вам нравится?</option>
                        <option value="жара">жара</option>
                        <option selected value="настоящая зима и много снега">настоящая зима и много снега</option>
                        <option value="нейтральные комфортные дни">нейтральные комфортные дни</option>
                        <option value="буйство стихии">буйство стихии</option>
                        <option value="нет предпочтений">нет предочтений</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>тип отдыха</p>
                    <select name="q2">
                        <option disabled>Какой отдых вы предпочитаете?</option>
                        <option value="активный">активный</option>
                        <option selected value="ленивый">ленивый</option>
                        <option value="удивите меня">удивите меня</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>с кем едете</p>
                    <select name="q3">
                        <option disabled>С кем вы путешествуете?</option>
                        <option value="в одиночку">в одиночку</option>
                        <option selected value="парой">парой</option>
                        <option value="семьёй с детьми">семьёй с детьми</option>
                        <option value="компанией">компанией</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>интересы</p>
                    <select name="q4">
                        <option disabled>Что из этого вам интереснее?</option>
                        <option value="спорт">спорт</option>
                        <option selected value="еда">еда</option>
                        <option value="шоппинг">шоппинг</option>
                        <option value="достопримечательности">достопримечательности</option>
                        <option value="природа">природа</option>
                        <option value="всего понемногу">всего понемногу</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>еда</p>
                    <select name="q5">
                        <option disabled>Какую еду предпочитаете?</option>
                        <option value="сладкое">сладкое</option>
                        <option selected value="необычные местные блюда">необычные местные блюда</option>
                        <option value="веганскую">веганскую</option>
                        <option value="сытную">сытную</option>
                        <option value="простую и полезную">простую и полезную</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>время в пути</p>
                    <select name="q6">
                        <option disabled>Сколько времени вы готовы потратить на дорогу?</option>
                        <option value="как можно меньше">как можно меньше</option>
                        <option selected value="не имеет значения">не имеет значения</option>
                        <option value="несколько (до 6) часов">несколько (до 6) часов</option>
                    </select>
                </div>

                <div class="select-box">
                    <p>спорт</p>
                    <select name="q7">
                        <option disabled>Какие виды спорта предпочитаете?</option>
                        <option value="командные, игровые">командные, игровые</option>
                        <option selected value="вызывающие прилив адреналина">вызывающие прилив адреналина</option>
                        <option value="расслабляющие (йога, плавание и т.д.)">расслабляющие (йога, плавание и т.д.)</option>
                        <option value="вообще не занимаюсь спортом">вообще не занимаюсь спортом</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>достопримечательности</p>
                    <select name="q8">
                        <option disabled>Какие достопримечательности вам интереснее?</option>
                        <option value="музеи искусств">музеи искусств</option>
                        <option selected value="природные заповедники, удивительные пейзажи">природные заповедники, удивительные пейзажи</option>
                        <option value="причудливые и максимально необычные">причудливые и максимально необычные</option>
                        <option value="известнейшие must-see места (как эйфелева башня или китайская стена)">известнейшие must-see места (как эйфелева башня или китайская стена)</option>
                        <option selected value="места с историей">места с историей</option>
                        <option value="тусовочные места">тусовочные места</option>
                        <option value="ничего из этого">ничего из этого</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>приоритет</p>
                    <select name="q9">
                        <option disabled>Для вас путешествие - это ...?</option>
                        <option value="возможность выйти из зоны комфорта">возможность выйти из зоны комфорта</option>
                        <option selected value="отдых от работы и людей">отдых от работы и людей</option>
                        <option value="время с близкими">время с близкими</option>
                        <option value="новые знакомства">новые знакомства</option>
                        <option value="адреналин и драйв">адреналин и драйв</option>
                        <option value="единение с природой">единение с природой</option>
                        <option value="возможность узнать что-то новое">возможность узнать что-то новое</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>длительность</p>
                    <select name="q10">
                        <option disabled>Оптимальная длительность поездки?</option>
                        <option value="на уикэнд">на уикэнд</option>
                        <option selected value="на неделю">на неделю</option>
                        <option value="две недели">две недели</option>
                        <option value="месяц">месяц</option>
                        <option value="пока не ясно">пока не ясно</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>жилье</p>
                    <select name="q11">
                        <option disabled>Где вы любите останавливаться?</option>
                        <option value="в отелях "всЁ включено", чтобы ни о чём не заботиться">в отелях "всЁ включено", чтобы ни о чём не заботиться</option>
                        <option selected value="в местах подешевле">в местах подешевле</option>
                        <option value="в туристической части города">в туристической части города</option>
                        <option value="в интересных и необычных местах">в интересных и необычных местах</option>
                        <option value="нет предпочтений">нет предпочтений</option>
                    </select>
                </div>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Подобрать тур" class="submbutton">
            </div>
        </form>
    </div>
    

<!--    <h4 class="card-title">Свежая подборка туров для вас:-->
<!--        <div class="card-body">-->
<!--            {% for tour in tour_info %}-->

<!--            <div class="jumbotron gridcard">-->
<!--                <div class="cardheader">-->
<!--                    <h3>Экскурсия: {{ tour.excursion.title }}</h3>-->
<!--                </div>-->
<!--                <div class="card-wrapper">-->
<!--                    <p>Длительность: {{ tour.excursion.duration }}</p>-->
<!--                    <p>Длительность: {{ tour.excursion.description }}</p>-->
<!--                    <p>Язык экскурсии: {{ tour.excursion.languages }}</p>-->
<!--                    <p>Билеты: {{ tour.flight.gate}}</p>-->
<!--                    <p>Отели: {{ tour.hotel.label }}</p>-->
<!--                    <p>Стоимость: {{ tour.excursion.netto_price}}</p>-->
<!--                    <img src="{{ tour.excursion.url }}"/>-->
<!--                </div>-->
<!--            </div>-->

<!--    <div class="big_card" id="big_card{{ tour.excursion.id }}">-->
<!--      <div class="big_card_item">-->
<!--        <div class="modal-header">-->
<!--          <h5>Экскурсия: {{ tour.excursion.title }}</h5>-->
<!--        </div>-->
<!--        <div style="display:flex">-->
<!--          <div class="modal-data">-->
<!--            <div class="model-short-data">-->
<!--              <p>Длительность: {{ tour.excursion.duration }}</p>-->
<!--              <p>Язык экскурсии: {{ tour.excursion.languages }}</p>-->
<!--              <p>Билеты: {{ tour.flight.gate}}</p>-->
<!--              <p>Отели: {{ tour.hotel.label }}</p>-->
<!--              <p>Стоимость: {{ tour.excursion.netto_price}}</p>-->
<!--            </div>-->
<!--            <div class="model-description">-->
<!--              <p>Описание: {{ tour.excursion.description }}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <img src="{{ tour.excursion.cover_photo.original }}" class="img" />-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <script>-->
<!--      var btn = document.getElementById("myBtn{{ tour.excursion.id }}");-->

<!--      btn.onclick = function() {-->
<!--        document.getElementById(-->
<!--          "big_card{{ tour.excursion.id }}"-->
<!--        ).style.display = "block";-->
<!--      };-->
<!--    </script>-->
<!--    {% endfor %}-->
<!--  </div>-->
<!--  <script>-->
<!--    // When the user clicks anywhere outside of the modal, close it-->
<!--    window.onclick = function(event) {-->
<!--      if (event.target.id.includes("big_card")) {-->
<!--        for (let element of document.getElementsByClassName("big_card")) {-->
<!--          element.style.display = "none";-->
<!--        }-->
<!--      }-->
<!--    };-->
<!--  </script>-->
<!--        </div>-->
<!--</main>-->
 {% block main %}
<h4 class="card-title">
  <span style="padding-left: 20px">Свежая подборка туров для вас:</span>
  <div class="card-body">
    {% for tour in tour_info %}

    <div class="jumbotron gridcard">
      <div class="cardheader">
        <h3>Экскурсия: {{ tour.excursion.title }}</h3>
      </div>
      <div class="super-card-wrapper">
        <div class="card-wrapper">
          <p>Длительность: {{ tour.excursion.duration }}</p>
          <!-- <p>Длительность: {{ tour.excursion.description }}</p> -->
          <p>Язык экскурсии: {{ tour.excursion.languages }}</p>
          <p>Билеты: {{ tour.flight.gate}}</p>
          <p>Отели: {{ tour.hotel.label }}</p>
          <p>Стоимость: {{ tour.excursion.netto_price}}</p>
        </div>
        <img src="{{ tour.excursion.image_small }}" />
      </div>
      <div class="card-button-wrapper" id="myBtn{{ tour.excursion.id }}">
        <button>Подробнее</button>
      </div>
    </div>

    <div class="big_card" id="big_card{{ tour.excursion.id }}">
      <div class="big_card_item">
        <div class="modal-header">
          <h5>Экскурсия: {{ tour.excursion.title }}</h5>
        </div>
        <div style="display:flex">
          <div class="modal-data">
            <div class="model-short-data">
              <p>Длительность: {{ tour.excursion.duration }}</p>
              <p>Язык экскурсии: {{ tour.excursion.languages }}</p>
              <p>Билеты: {{ tour.flight.gate}}</p>
              <p>Отели: {{ tour.hotel.label }}</p>
              <p>Стоимость: {{ tour.excursion.netto_price}}</p>
            </div>
            <div class="model-description">
              <p>Описание: {{ tour.excursion.description }}</p>
            </div>
          </div>
          <img src="{{ tour.excursion.cover_photo.original }}" class="img" />
        </div>
      </div>
    </div>

    <script>
      var btn = document.getElementById("myBtn{{ tour.excursion.id }}");

      btn.onclick = function() {
        document.getElementById(
          "big_card{{ tour.excursion.id }}"
        ).style.display = "block";
      };
    </script>
    {% endfor %}
  </div>
  <script>
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target.id.includes("big_card")) {
        for (let element of document.getElementsByClassName("big_card")) {
          element.style.display = "none";
        }
      }
    };
  </script>
  {% endblock %}

{% endblock %}
