{% extends "wrapper.html" %}
{% block content %}
<main role="main">
    <div class="content-wrapper">
        <p>Подберите идеальный тур:</p>

        <form action="/search.php" method="get">
            <div id="select-box-wrapper">
                <div class="select-box">
                    <p>погода</p>
                    <select name="q1">
                        <option disabled>Какая погода вам нравится?</option>
                        <option value="жара">жара</option>
                        <option selected value="настоящая зима и много снега">настоящая зима и много снега</option>
                        <option value="нейтральные комфортные дни">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>тип отдыха</p>
                    <select name="q2">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>с кем едете</p>
                    <select name="q3">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>интересы</p>
                    <select name="q4">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>еда</p>
                    <select name="q5">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>время в пути</p>
                    <select name="q6">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>

                <div class="select-box">
                    <p>спорт</p>
                    <select name="q7">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>достопримечательности</p>
                    <select name="q8">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>приоритет</p>
                    <select name="q9">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>длительность</p>
                    <select name="q10">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
                <div class="select-box">
                    <p>жилье</p>
                    <select name="q11">
                        <option disabled>Выберите героя</option>
                        <option value="Spain">Испания</option>
                        <option selected value="Крокодил Гена">Испания</option>
                        <option value="Spain">Испания</option>
                        <option value="Spain">Испания</option>
                    </select>
                </div>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Подобрать тур" class="submbutton">
            </div>
        </form>
    </div>
    <h4 class="card-title">Свежая подборка туров для вас: </h4>
    <div>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
        <span>aaa</span>
    </div>


    <h4 class="card-title">Свежая подборка туров для вас:
        <div class="card-body">
            {% for tour in tour_info %}

            <div class="jumbotron gridcard">
                <div class="cardheader">
                    <h3>Экскурсия: {{ tour.excursion.title }}</h3>
                </div>
                <div class="card-wrapper">
                    <p>Длительность: {{ tour.excursion.duration }}</p>
                    <p>Длительность: {{ tour.excursion.description }}</p>
                    <p>Язык экскурсии: {{ tour.excursion.languages }}</p>
                    <p>Билеты: {{ tour.flight.gate}}</p>
                    <p>Отели: {{ tour.hotel.label }}</p>
                    <p>Стоимость: {{ tour.excursion.netto_price}}</p>
                    <img src="{{ tour.excursion.url }}"/>
                </div>
            </div>

            {% endfor %}
        </div>
</main>

{% endblock %}