{% extends 'login_page.html' %}

{% block main %}

{% for user in user_info %}
<div class="user_info" >
    <div>Вопрос1: {{ user.data.q1 }}</div>
    <div>Вопрос2: {{ user.data.q2 }}</div>
    <div class="select-box"><p>Вопрос3: {{ user.data.q3 }}</p></div>
    <div class="select-box"><p>Вопрос4: {{ user.data.q4 }}</p></div>
    <div class="select-box"><p>Вопрос5: {{ user.data.q5 }}</p></div>
    <div class="select-box"><p>Вопрос6: {{ user.data.q6 }}</p></div>
    <div class="select-box"><p>Вопрос7: {{ user.data.q7 }}</p></div>
    <div class="select-box"><p>Вопрос8: {{ user.data.q8 }}</p></div>
    <div class="select-box"><p>Вопрос9: {{ user.data.q9 }}</p></div>
    <div class="select-box"><p>Вопрос10: {{ user.data.q10 }}</p></div>
    <div class="select-box"><p>Вопрос11: {{ user.data.q11 }}</p></div>
</div>
{% endfor %}


<h4 class="card-title">Свежая подборка туров для вас:
<div class="card-body">
{% for tour in tour_info %}

    <div class="jumbotron gridcard">
        <div class = "cardheader">
        <h3>Экскурсия: {{ tour.excursion.title }}</h3>
        </div>
        <div class="card-wrapper">
        <p>Длительность: {{ tour.excursion.duration }}</p>
        <p>Длительность: {{ tour.excursion.description }}</p>
        <p>Язык экскурсии: {{ tour.excursion.languages }}</p>
        <p>Билеты: {{ tour.flight.gate}}</p>
        <p>Отели: {{ tour.hotel.label }}</p>
        <p>Стоимость: {{ tour.excursion.netto_price}}</p>
        <img src="{{ tour.excursion.url }}"/>
        </div>
    </div>

{% endfor %}
</div>    
{% endblock %}





